@{
    ViewBag.Title = "Home Page";
}

@if(!User.IsInRole("HeadofHousehold") || !User.IsInRole("Member"))
{
<div class="jumbotron">
    <div class="col-md-6">
        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="demo">
                <div class="row">
                    <div class="col-md-12 pricing-header">Demo User Login</div>
                    <hr/>
                    <div class="row">
                        
                    </div>
                    <div>

                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Demo User</button>
        }
    </div>
    <div class="col-md-6">
        <ul>
            <li>
                This will sign you in as a Head of Household for a Demo House
            </li>
            <li>
                The Head of Household role has the extra function of being able to invite users into the household
            </li>
            <li>
                Other Functions a member of a household will be able to do:
            </li>
        </ul> 
        <ol>
            <li>
                Create or Edit a Budget
            </li>
            <li>
                Create or Edit Budget Catagories
            </li>
            <li>
                Create or Edit Banks
            </li>
            <li>
                Create or Edit Accounts, will be associated with created banks
            </li>
            <li>
                Create or Reconcile Transactions
            </li>
            <li>
                View Transactions
            </li>
        </ol>
        
    </div>
</div>
}
@if (!User.IsInRole("Guest"))
{
<div class="jumbotron">

</div>
}
 @if(User.IsInRole("HeadofHousehold") || User.IsInRole("Member"))
 {
 <div class="jumbotron">

 </div>
 }
