/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/
.center {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;   
}